*.tlog
satoriya/satori/Debug/
satoriya/satori/Debug_ST/
satoriya/satori/Debug_SU/
*.sdf
*.opensdf
satoriya/satori/Release_ST/
satoriya/satori/Release_SU/
satoriya/satori/Release/
*.plg
*.user
*.ncb
*.opt
*.suo
*.aps
*.clw
*.bak
