Debug/
Release/
satoriya/satori/Debug_ST/
satoriya/satori/Debug_SU/
satoriya/satori/Release_ST/
satoriya/satori/Release_SU/
satoriya/tmp/
satorite.dat
*.sdf
*.opensdf
*.tlog
*.plg
*.user
*.ncb
*.opt
*.suo
*.aps
*.clw
*.bak
*.ipch
*.vsp
*.vspx
*.vsidx
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.psess
